
@{
    ViewData["Title"] = "Bootstrap";
    Layout = "~/Views/Shared/_Layout_Bootstrap.cshtml";
}

<div class="container-fluid">
    <h1>容器（流式布局）： class="container-fluid"</h1>
    <p>创建四个相等宽度的列</p>
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>
    <p>创建四个相等宽度的列</p>
    <div class="row">
        <div class="col-lg-3" style="background-color:lavender;">.col-lg-3</div>
        <div class="col-lg-3" style="background-color:lavenderblush;">.col-lg-3</div>
        <div class="col-lg-3" style="background-color:lavender;">.col-lg-3</div>
        <div class="col-lg-3" style="background-color:lavenderblush;">.col-lg-3</div>
    </div>
</div>
<hr />
<div class="container">
    <h1>容器布局：class="container</h1>
    <p>创建四个相等宽度的列</p>
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>
    <p>创建四个相等宽度的列</p>
    <div class="row">
        <div class="col-lg-3" style="background-color:lavender;">.col-lg-3</div>
        <div class="col-lg-3" style="background-color:lavenderblush;">.col-lg-3</div>
        <div class="col-lg-3" style="background-color:lavender;">.col-lg-3</div>
        <div class="col-lg-3" style="background-color:lavenderblush;">.col-lg-3</div>
    </div>
</div>

